// Colors
$primary-color: #1698D9 !default;
$secondary-color: #D91667 !default;

// Dark background
$ui-dark-bg-color: #000 !default;
$ui-dark-text-color: #fff !default;
$ui-dark-text-color-notice: #FFFF66 !default;

// Light background
$ui-light-bg-color: #F2F2F2 !default;
$ui-light-text-color: #000 !default;
$ui-light-text-color-tiny: #666666 !default;
$ui-light-text-color-disabled: #B3B3B3 !default;
