@import "../../styles/index";

.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: $container-width;
    padding: $container-padding;
    //
    //@include media-breakpoint('md') {
    //  padding: $container-padding-md;
    //}
    //
    //@include media-breakpoint('lg-up') {
    //  padding: $container-padding-lg;
    //}
  }

  &__heading {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 24px;
  }

  &__card {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    max-width: 100%;
    padding-right: $container-padding;
    padding-left: $container-padding;

    @include media-breakpoint('sm-up') {
      flex: 1 1 50%;
      max-width: 50%;
    }

    @include media-breakpoint('lg-up') {
      flex: 1 1 33.33%;
      max-width: 33.33%;
    }
  }
}
