@import "styles/index";

@font-face {
  font-family: 'Exo 2.0';
  src: url(./assets/fonts/Exo20-Thin.woff2) format('woff2'),
  url(./assets/fonts/Exo20-Thin.woff) format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'Trebuchet MS';
  src: url(./assets/fonts/TrebuchetMS.woff2) format('woff2'),
  url(./assets/fonts/TrebuchetMS.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url(./assets/fonts/TrebuchetMS-Bold.woff2) format('woff2'),
  url(./assets/fonts/TrebuchetMS-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  position: relative;
  z-index: 2;
  margin: 0;
  background: $ui-dark-bg-color url(./assets/images/pattern.png) repeat top left;
  color: $ui-dark-text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include font('base');
  @include retina {
    background-image: url(./assets/images/pattern@2x.png);
    background-size: 70px 140px;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,
        rgba($ui-dark-bg-color, 0.5) 0%,
        rgba($ui-dark-bg-color, 5e-05) 49.88%,
        rgba($ui-dark-bg-color, 0.5) 100%
    );
  }
}

a {
  text-decoration: none;
  color: $primary-color;
  display: inline;
  border-bottom: $border-width-base dashed currentColor;
  cursor: pointer;
  transition: all $animation-duration $animation-timing-fn;

  &:hover,
  &:active:hover {
    color: $secondary-color;
  }
}

h1, .h1 {
  @include font('h1');
}

h2, .h2 {
  @include font('h2');
}

h3, .h3 {
  @include font('h3');
}

.text-tiny {
  @include font('tiny');
}

.text-small {
  @include font('small');
}
